/* reset css */
body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
ol,
p,
select,
textarea,
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: none;
  display: block;
  width: 100%;
}
article,
aside,
blockquote,
body,
button,
code,
dd,
details,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
select,
td,
textarea,
th,
ul {
  outline: 0;
  border: none;
  background-color: transparent;
}
a,
button,
input {
  -webkit-tap-highlight-color: transparent;
}
body * {
  -webkit-text-size-adjust: 100%;
}
button,
input {
  -webkit-appearance: none;
}
em,
i {
  font-style: normal;
}
textarea {
  resize: none;
}
div {
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
  -webkit-highlight: none;
  -webkit-tap-highlight-color: transparent;
  color: #000;
}
a:hover {
  opacity: 0.9;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clear:after,
.clear:before {
  content: "";
  display: table;
}
.clear:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-family: "PingFangSC", Arial, Helvetica, STHeiTi, sans-serif;
}
b,
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 14px;
  font-weight: normal;
}
.hidden {
  display: none;
}
.hide {
  display: none!important;
}
body,
textarea,
input,
select {
  font-size: 14px;
  color: #222222;
  font-weight: normal;
  font-family: "PingFangSC", "Helvetica Neue", Helvetica, STHeiTi, 'Microsoft Yahei', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  outline: none;
}
.masker {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
}
.text-center {
  text-align: center;
}
/* reset end */

.header h2 {
  width: 70%;
  font-size: 0.68rem;
  font-weight: 700;
  color: #333;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.header .backBtn {
  width: 1.56rem;
  height: 1.8rem;
  background-image: url(../img/angle_left_03.png);
  background-repeat: no-repeat;
  background-size: 0.36rem 0.6rem;
  background-position: 50%;
  position: absolute;
  left: 0rem;
  top: 0;
}
.store-info-form .form-item {
  box-sizing: border-box;
  width: 100%;
  padding: 0 1.6rem 0.76rem;
}
.store-info-form label.input-group {
  display: block;
  margin-bottom: 0.4rem;
  height: 0.64rem;
  line-height: 0.64rem;
  font-size: 0.64rem;
  color: #333;
}
.store-info-form .required-tip {
  display: inline-block;
  vertical-align: top;
  line-height: 0.64rem;
  font-size: 0.56rem;
  color: #4f76e6;
}
.store-info-form span.tip-active {
  color: #de3939;
}
.store-info-form .tip-tel {
  margin-top: 0.36rem;
  line-height: 0.56rem;
  font-size: 0.56rem;
  color: #ccc;
}
.store-info-form .controls-store {
  height: 1.56rem;
}
.store-info-form .controls {
  box-sizing: border-box;
  width: 100%;
  background-color: #f7f7f8;
  border-radius: 0.2rem;
  border: 1px solid #ddd;
  overflow: hidden;
}
.store-info-form .controls input,
.store-info-form .controls textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 0.6rem;
  color: #666666;
}
.store-info-form .controls input {
  height: 100%;
  padding: 0 0.56rem;
}
.store-info-form .controls textarea {
  line-height: 0.8rem;
  padding: 0.38rem 0.56rem;
  border-radius: 0.2rem;
}
.store-info-form .controls-storename {
  height: 2.32rem;
}
.store-info-form .controls-storeadress {
  height: 3.2rem;
}
.store-info-form .controls-city {
  display: flex;
  justify-content: space-between;
  background: #fff;
  border: none;
}
.store-info-form .controls-city .city-wrapper,
.store-info-form .controls-city .area-wrapper {
  position: relative;
  background-color: #f7f7f8;
  border-radius: 0.2rem;
  border: 1px solid #ddd;
}
.store-info-form .controls-city input {
  width: 5.56rem;
}
.store-info-form .controls-city .icon-down {
  position: absolute;
  top: 50%;
  right: 0.52rem;
  -ms-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 0.42rem;
  height: 0.24rem;
  background: url('../img/icon_down.png') no-repeat center;
  background-size: 100%;
}
.store-info-form .hot-city-title {
  box-sizing: border-box;
  padding: 0.7rem 1rem 0.58rem;
  height: 1.88rem;
  background: #fff;
}
.store-info-form .hot-city-title i {
  display: inline-block;
  width: 0.16rem;
  height: 0.56rem;
  background: #4f98ff;
  margin-top: 0.02rem;
  margin-right: 0.2rem;
}
.store-info-form .hot-city-title h4 {
  display: inline-block;
  vertical-align: top;
  line-height: 0.6rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #666;
}
.store-info-form .city-box {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 14rem;
  margin: 0 auto;
  border-radius: 0.2rem 0.2rem 0 0;
  overflow: hidden;
  z-index: 11;
}
.store-info-form .city-box .express-city-box {
  background: #fff;
  border-radius: 0.2rem 0.2rem 0 0;
}
.store-info-form .city-box .hot-city .hot {
  padding: 0 1.8rem 0 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
  align-content: space-around;
  width: 100%;
  height: 3.6rem;
}
.store-info-form .city-box .hot-city .hot a {
  display: block;
  box-sizing: border-box;
  width: 5.2rem;
  line-height: 1.52rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #999;
  text-align: center;
  border: 1px solid #ebebeb;
  border-radius: 0.12rem;
  letter-spacing: 1px;
}
.store-info-form .city-box .hot-city .hot a.active {
  color: #4f76e6;
  border-color: #4f76e6;
}
.store-info-form .city-box .letter-title {
  padding: 0 1.4rem 0 1rem;
  padding-top: 0.48rem;
  height: 0.88rem;
  line-height: 0.88rem;
  font-size: 0.64rem;
  font-weight: 700;
  color: #4f76e6;
}
.store-info-form .city-box .item-list {
  padding: 0 1.8rem 0 1rem;
}
.store-info-form .city-box .item-list li {
  line-height: 1.8rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #666;
  border-bottom: 0.5px solid #edeef5;
}
.store-info-form .city-box #cityBox {
  height: 13.24rem;
  background: #fff;
  overflow: hidden;
}
.store-info-form .city-box .city-sidaber {
  position: absolute;
  height: 100%;
  right: 0;
  top: 1.92rem;
  z-index: 20;
}
.store-info-form .city-box .city-sidaber p {
  box-sizing: border-box;
  padding-right: 0.2rem;
  width: 1.78rem;
  line-height: 0.68rem;
  font-size: 0.48rem;
  font-weight: 700;
  text-align: center;
  color: #666;
}
.store-info-form .area-box {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 14rem;
  margin: 0 auto;
  border-radius: 0.2rem 0.2rem 0 0;
  z-index: 10;
  overflow: hidden;
}
.store-info-form .area-box .citylist {
  height: 15.2rem;
  padding: 0 1rem;
  background: #fff;
  overflow-y: auto;
}
.store-info-form .area-box .citylist li {
  line-height: 1.8rem;
  font-size: 0.6rem;
  font-weight: 700;
  color: #666;
  border-bottom: 0.5px solid #edeef5;
}
.store-info-form .area-box .citylist li:last-child {
  border-bottom: none;
}
.btn {
  width: 11.8rem;
  height: 1.96rem;
  font-size: 0.64rem;
  color: #fff;
  font-weight: 700;
  text-align: center;
  background: #4f76e6;
  border-radius: 0.2rem;
}
.li-title {
  position: relative;
  width: 100%;
  margin-bottom: 0.52rem;
  border-bottom: 0.5px solid #edeef5;
}
.li-title h3 {
  display: flex;
  align-items: center;
  height: 1.76rem;
  padding-left: 1.66rem;
  font-size: 0.64rem;
  font-weight: 700;
  color: #333;
}
