@charset "utf-8";
/* CSS Document */

/*此样式在窗口小于768px的时候生效*/
@media screen and (max-width:750px) {/*768*1024*/
.content,.ftnav a,.header,.head,.footnav ul{
	width:100%;
	}
.eject .eject-cont,.eject-cont{
	width:94%;
	}
}


@media screen and (min-width:750px){
    html{font-size:100px;}
}
@media screen and (min-width:640px) and (max-width:749px){
    html{font-size:85.333px;}
}
@media screen and (min-width:414px) and (max-width:639px){
    html{font-size:61.333px;}
}
@media screen and (min-width:375px) and (max-width:413px){
    html{font-size:50px;}
}
@media screen and (min-width:320px) and (max-width:374px){
    html{font-size:42.6667px;}



